<h1>Users#index</h1>


<% @users.each do |user| %>
  <h2><%= user.email %></h2>
  <p><%= user.id %></p>
  <p><%= user.kyc_status %></p>
  <p><%= user.selfie %></p>
  <p><%= user.document %></p>
  <p><%= cl_image_tag(user.document,
      width: 400, height: 300, crop: :fill) %></p>
  <p><%= cl_image_tag(user.selfie,
      width: 400, height: 300, crop: :fill) %></p>

  <p><%= link_to "Edit", edit_user_path(user.id) %></p>
<% end %>

