<!--
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"> -->

<!-- <h2><i class="kmd.svg"></i></h2> -->

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


<!-- <h1 text-align="center">Pick Currency</h1> -->

<!-- Flickity HTML init -->
<div class="carousel"
  data-flickity='{ "wrapAround": true }'>
  <div class="carousel-cell">
    <!-- <h2><i class="fab fa-bitcoin fa-2x"></i></h2> -->
    <%= image_tag "btc.svg", alt: "Bitcoin Icon", width: 70 %>
    <h4>Bitcoin</h4>

    <div class="grid">
      <div class="grid-item buy-section">
        <!-- stuff -->
        <p>Buy Price:</p><p>£<span id = "buy"></span></p>
        <form>
          BTC:<br>
          <input type="text" name="amount" value=1 text-align="right" style="width: 100px; color: black" id="btcquantity"><br>
        </form>

        <form>
          £:<br>
          <input type="text" name="amount" style="width: 100px; color: black" id="btcbuyprice"><br>
        </form>
        <br>


        <%= link_to "Buy BTC", "#{new_buy_path}#details", id: "buybitcoin", :class=>"button-buy" %>

<!--   <script>
    buybitcoin.addEventListener('click', storebtcbuy);

  function storebtcbuy(e) {
    var quantity = btcquantity.value;
   localStorage.setItem("btcQuantity",quantity);
   localStorage.setItem("currency", 1);
}

  </script> -->



      </div>

      <div class="grid-item sell-section">
        <p>Sell Price:</p><p>£<span id = "sell"></span></p>
        <form>
          BTC:<br>
          <input type="text" name="amount" value=1 style="width: 100px; color: black" id="btcsellquantity"><br>
        </form>

        <form>
          £:<br>
          <input type="text" name="amount" style="width: 100px; color: black" id="btcsellprice"><br>
        </form>
        <br>
        <%= link_to "Sell BTC", new_buy_path, :class=>"button-sell" %>
      </div>

  </div>






  </div>



<div class="carousel-cell eth">
    <%= image_tag "eth.svg", alt: "Ethereum Icon", width: 70 %>
    <h4>Ethereum</h4>

    <div class="grid">
      <div class="grid-item buy-section">
        <p>Buy Price:</p><p>£<span id = "ethbuy"></span></p>
        <form>
          ETH:<br>
          <input type="text" name="amount" value=1 text-align="right" style="width: 100px; color: black" id="ethbuyquantity"><br>
        </form>

        <form>
          £:<br>
          <input type="text" name="amount" style="width: 100px; color: black" id="ethbuyprice"><br>
        </form>
        <br>


        <%= link_to "Buy ETH", new_buy_path, id: "buyethereum", :class=>"button-buy" %>

      </div>

     <!--  <script>
     buyethereum.addEventListener('click', storeethbuy);

  function storeethbuy(e) {
    var quantity = ethbuyquantity.value;
   localStorage.setItem("btcQuantity",quantity);
   localStorage.setItem("currency", 2);
}


// buyxrp.addEventListener('click', storexrpbuy);

//   function storexrpbuy(e) {
//     var quantity = xrpbuyquantity.value;
//    localStorage.setItem("btcQuantity",quantity);
//    localStorage.setItem("currency", 4);
// }

// buybch.addEventListener('click', storebchbuy);

//   function storebchbuy(e) {
//     var quantity = bchbuyquantity.value;
//    localStorage.setItem("btcQuantity",quantity);
//    localStorage.setItem("currency", 4);
// }


  </script>
 -->
      <div class="grid-item sell-section">
        <p>Sell Price:</p><p>£<span id = "ethsell"></span></p>
        <form>
          ETH:<br>
          <input type="text" name="amount" value=1 style="width: 100px; color: black" id="ethsellquantity"><br>
        </form>

        <form>
          £:<br>
          <input type="text" name="amount" style="width: 100px; color: black" id="ethsellprice"><br>
        </form>
        <br>
        <%= link_to "Sell ETH", new_buy_path, :class=>"button-sell" %>
      </div>

  </div>

  </div>

  <div class="carousel-cell">
    <%= image_tag "bch.svg", alt: "Bitcoin Cash Icon", width: 70 %>
    <h4>Bitcoin Cash</h4>

    <div class="grid">
      <div class="grid-item buy-section">
        <p>Buy Price:</p><p>£<span id = "bchbuy"></span></p>
        <form>
          BCH:<br>
          <input type="text" name="amount" value=1 text-align="right" style="width: 100px; color: black" id="bchbuyquantity"><br>
        </form>

        <form>
          £:<br>
          <input type="text" name="amount" style="width: 100px; color: black" id="bchbuyprice"><br>
        </form>
        <br>


        <%= link_to "Buy BCH", new_buy_path, id: "buybch", :class=>"button-buy" %>

      </div>

      <div class="grid-item sell-section">
        <p>Sell Price:</p><p>£<span id = "bchsell"></span></p>
        <form>
          BCH:<br>
          <input type="text" name="amount" value=1 style="width: 100px; color: black" id="bchsellquantity"><br>
        </form>

        <form>
          £:<br>
          <input type="text" name="amount" style="width: 100px; color: black" id="bchsellprice"><br>
        </form>
        <br>
        <%= link_to "Sell BCH", new_buy_path, :class=>"button-sell" %>
      </div>

  </div>

  </div>

  <div class="carousel-cell">
    <%= image_tag "xrp.svg", alt: "Bitcoin Cash Icon", width: 70 %>
    <h4>Ripple</h4>

    <div class="grid">
      <div class="grid-item buy-section">
        <p>Buy Price:</p><p>£<span id = "xrpbuy"></span></p>
        <form>
          XRP:<br>
          <input type="text" name="amount" value=1 text-align="right" style="width: 100px; color: black" id="xrpbuyquantity"><br>
        </form>

        <form>
          £:<br>
          <input type="text" name="amount" style="width: 100px; color: black" id="xrpbuyprice"><br>
        </form>
        <br>


        <%= link_to "Buy XRP", new_buy_path, id: "buyxrp", :class=>"button-buy" %>

      </div>

      <div class="grid-item sell-section">
        <p>Sell Price:</p><p>£<span id = "xrpsell"></span></p>
        <form>
          XRP:<br>
          <input type="text" name="amount" value=1 style="width: 100px; color: black" id="xrpsellquantity"><br>
        </form>

        <form>
          £:<br>
          <input type="text" name="amount" style="width: 100px; color: black" id="xrpsellprice"><br>
        </form>
        <br>
        <%= link_to "Sell XRP", new_buy_path, :class=>"button-sell" %>
      </div>

  </div>

  </div>


  <div class="carousel-cell eos">
    <%= image_tag "eos.svg", alt: "EOS Icon", width: 70 %>
    <h4>EOS</h4>

    <div class="grid">
      <div class="grid-item buy-section">
        <p>Buy Price:</p><p>£<span id = "eosbuy"></span></p>
        <form>
          EOS:<br>
          <input type="text" name="amount" value=1 text-align="right" style="width: 100px; color: black" id="eosbuyquantity"><br>
        </form>

        <form>
          £:<br>
          <input type="text" name="amount" style="width: 100px; color: black" id="eosbuyprice"><br>
        </form>
        <br>


        <%= link_to "Buy EOS", new_buy_path, id: "buyeos", :class=>"button-buy" %>

      </div>

 <!--      <script>


buyeos.addEventListener('click', storeeosbuy);

  function storeeosbuy(e) {
    var quantity = eosbuyquantity.value;
   localStorage.setItem("btcQuantity",quantity);
   localStorage.setItem("currency", 5);
}
      </script> -->

      <div class="grid-item sell-section">
        <p>Sell Price:</p><p>£<span id = "eossell"></span></p>
        <form>
          EOS:<br>
          <input type="text" name="amount" value=1 style="width: 100px; color: black" id="eossellquantity"><br>
        </form>

        <form>
          £:<br>
          <input type="text" name="amount" style="width: 100px; color: black" id="eossellprice"><br>
        </form>
        <br>
        <%= link_to "Sell EOS", new_buy_path, :class=>"button-sell" %>
      </div>

  </div>






  </div>


</div>

<br>



<br>
<br>
<br>
<% if current_user.try(:admin?) %>

<%= @user = User.all %>
  <% @user.each do |user| %>
  <%= user.email %><br/>
  <%= user.kyc_status %><br/>
  <%= user.selfie %><br/>
<% end %>

<% else %>

<% end %>


<script>var elem = document.querySelector('.main-carousel');
var flkty = new Flickity( elem, {
  // options
  cellAlign: 'left',
  contain: true
});
</script>


<!-- <h2>bitcoin price: </h2><h2 id = "buy1"><%= Buy.btc_buy_price %></h2> -->

<script>
  // BITCOIN RESPONSIVE FORM

  const btcquantity = document.getElementById('btcquantity')
  const btcbuyprice = document.getElementById('btcbuyprice');

  btcquantity.addEventListener('keyup', logKey);

  function logKey(e) {
  btcbuyprice.value = ` ${(btcquantity.value * window.pbuy).toFixed(2)}`;
}

  btcbuyprice.addEventListener('keyup', changeQuantity);

  function changeQuantity(e) {
  btcquantity.value = ` ${btcbuyprice.value / window.pbuy}`;
}

 btcsellquantity.addEventListener('keyup', updateSellPrice);

  function updateSellPrice(e) {
  btcsellprice.value = ` ${(btcsellquantity.value * window.psell).toFixed(2)}`;
}

  btcsellprice.addEventListener('keyup', updateBtcSellQuantity);

  function updateBtcSellQuantity(e) {
  btcsellquantity.value = ` ${btcsellprice.value / window.psell}`;
}

// ETHEREUM RESPONSIVE FORM

ethbuyquantity.addEventListener('keyup', updateEthBuyPrice);

  function updateEthBuyPrice(e) {
  ethbuyprice.value = ` ${(ethbuyquantity.value * window.ethpbuy).toFixed(2)}`;
}

 ethbuyprice.addEventListener('keyup', updateEthBuyQuantity);

  function updateEthBuyQuantity(e) {
  ethbuyquantity.value = ` ${ethbuyprice.value / window.ethpbuy}`;
}

ethsellquantity.addEventListener('keyup', updateEthSellPrice);

  function updateEthSellPrice(e) {
  ethsellprice.value = ` ${(ethsellquantity.value * window.ethpsell).toFixed(2)}`;
}

ethsellprice.addEventListener('keyup', updateEthSellQuantity);

  function updateEthSellQuantity(e) {
  ethsellquantity.value = ` ${ethsellprice.value / window.ethpsell}`;
}

// EOS RESPONSIVE FORM

eosbuyquantity.addEventListener('keyup', updateEosBuyPrice);

  function updateEosBuyPrice(e) {
  eosbuyprice.value = ` ${(eosbuyquantity.value * window.eospbuy).toFixed(2)}`;
}

 eosbuyprice.addEventListener('keyup', updateEosBuyQuantity);

  function updateEosBuyQuantity(e) {
  eosbuyquantity.value = ` ${eosbuyprice.value / window.eospbuy}`;
}

eossellquantity.addEventListener('keyup', updateEosSellPrice);

  function updateEosSellPrice(e) {
  eossellprice.value = ` ${(eossellquantity.value * window.eospsell).toFixed(2)}`;
}

eossellprice.addEventListener('keyup', updateEosSellQuantity);

  function updateEosSellQuantity(e) {
  eossellquantity.value = ` ${eossellprice.value / window.eospsell}`;
}


// Bitcoin Cash RESPONSIVE FORM


bchbuyquantity.addEventListener('keyup', updateBchBuyPrice);

  function updateBchBuyPrice(e) {
  bchbuyprice.value = ` ${(bchbuyquantity.value * window.bchpbuy).toFixed(2)}`;
}

 bchbuyprice.addEventListener('keyup', updateBchBuyQuantity);

  function updateBchBuyQuantity(e) {
  bchbuyquantity.value = ` ${bchbuyprice.value / window.bchpbuy}`;
}

bchsellquantity.addEventListener('keyup', updateBchSellPrice);

  function updateBchSellPrice(e) {
  bchsellprice.value = ` ${(bchsellquantity.value * window.bchpsell).toFixed(2)}`;
}

bchsellprice.addEventListener('keyup', updateBchSellQuantity);

  function updateBchSellQuantity(e) {
  bchsellquantity.value = ` ${bchsellprice.value / window.bchpsell}`;
}

// Ripple RESPONSIVE FORM

xrpbuyquantity.addEventListener('keyup', updateXrpBuyPrice);

  function updateXrpBuyPrice(e) {
  xrpbuyprice.value = ` ${(xrpbuyquantity.value * window.xrppbuy).toFixed(2)}`;
}

 xrpbuyprice.addEventListener('keyup', updateXrpBuyQuantity);

  function updateXrpBuyQuantity(e) {
  xrpbuyquantity.value = ` ${xrpbuyprice.value / window.xrppbuy}`;
}

xrpsellquantity.addEventListener('keyup', updateXrpSellPrice);

  function updateXrpSellPrice(e) {
  xrpsellprice.value = ` ${(xrpsellquantity.value * window.xrppsell).toFixed(2)}`;
}

xrpsellprice.addEventListener('keyup', updateXrpSellQuantity);

  function updateXrpSellQuantity(e) {
  xrpsellquantity.value = ` ${xrpsellprice.value / window.xrppsell}`;
}






  </script>


<script>
  document.addEventListener("DOMContentLoaded", function() {
  btcprice();
  ethprice();
});

    window.onload = function() {
  setInterval(btcprice, 10000);
  setInterval(ethprice, 10000);
  setInterval(eosprice, 10000);
  setInterval(xrpprice, 10000);
  setInterval(bchprice, 10000);
};

var n = 0;
const buy = document.getElementById("buy");
const sell = document.getElementById("sell");


function btcprice(){
  fetch("https://api.kraken.com/0/public/Ticker?pair=XXBTZEUR")
  .then(response => response.json())
  .then((data) => {
    // console.log(data.result.XXBTZEUR.c[0]);
    const price = data.result.XXBTZEUR.c[0];
    window.pbuy = (parseFloat(price)*1.025).toFixed(2);
    window.psell = (parseFloat(price)*0.98).toFixed(2);
    // console.log(psell);
    // console.log(pbuy)
    buy.innerHTML = window.pbuy;
    sell.innerHTML = window.psell;

    document.getElementById("btcbuyprice").value = ` ${(btcquantity.value * window.pbuy).toFixed(2)}`;

    document.getElementById("btcsellprice").value = ` ${(btcsellquantity.value * window.psell).toFixed(2)}`;

    // document.getElementById("btcbuyprice").placeholder = window.pbuy;
    // btcbuyprice.placeholder = window.pbuy;
  });


}

  </script>

  <script>
      document.addEventListener("DOMContentLoaded", function() {
  ethprice();
});
//        window.onload = function() {
//   setInterval(ethprice, 1000);
// };


const ethbuy =  document.getElementById("ethbuy");
const ethsell =  document.getElementById("ethsell");


  function ethprice(){
  fetch("https://api.kraken.com/0/public/Ticker?pair=XETHZEUR")
  .then(response => response.json())
  .then((data) => {
    // console.log(data.result.XXBTZEUR.c[0]);
    const ethprice = data.result.XETHZEUR.c[0];
    window.ethpbuy = (parseFloat(ethprice)*1.025).toFixed(2);
    window.ethpsell = (parseFloat(ethprice)*0.98).toFixed(2);
    // console.log(ethprice);
    // console.log(ethpsell);
    // console.log(typeof p)
    ethbuy.innerHTML = ethpbuy;
    ethsell.innerHTML = ethpsell;

    document.getElementById("ethbuyprice").value = ` ${(ethbuyquantity.value * window.ethpbuy).toFixed(2)}`;

    document.getElementById("ethsellprice").value = ` ${(ethsellquantity.value * window.ethpsell).toFixed(2)}`;
  });
  }

  </script>


  <script>
      document.addEventListener("DOMContentLoaded", function() {
  eosprice();
});
//        window.onload = function() {
//   setInterval(eosprice, 10000);
//   setInterval(ethprice, 10000);
//   setInterval(btcprice, 10000);
// };


const eosbuy =  document.getElementById("eosbuy");
const eossell =  document.getElementById("eossell");


  function eosprice(){
  fetch("https://api.kraken.com/0/public/Ticker?pair=EOSEUR")
  .then(response => response.json())
  .then((data) => {
    // console.log(data.result.XXBTZEUR.c[0]);
    const eosprice = data.result.EOSEUR.c[0];
    window.eospbuy = (parseFloat(eosprice)*1.02).toFixed(2);
    window.eospsell = (parseFloat(eosprice)*0.98).toFixed(2);
    // console.log(eosprice);
    // console.log(eospsell);
    // console.log(typeof p)
    eosbuy.innerHTML = eospbuy;
    eossell.innerHTML = eospsell;

    document.getElementById("eosbuyprice").value = ` ${(eosbuyquantity.value * window.eospbuy).toFixed(2)}`;

    document.getElementById("eossellprice").value = ` ${(eossellquantity.value * window.eospsell).toFixed(2)}`;
  });
  }

  </script>


   <script>
      document.addEventListener("DOMContentLoaded", function() {
  bchprice();
});
//        window.onload = function() {
//   setInterval(bchprice, 1000);
// };


const bchbuy =  document.getElementById("bchbuy");
const bchsell =  document.getElementById("bchsell");


  function bchprice(){
  fetch("https://api.kraken.com/0/public/Ticker?pair=BCHEUR")
  .then(response => response.json())
  .then((data) => {
    // console.log(data.result.XXBTZEUR.c[0]);
    const bchprice = data.result.BCHEUR.c[0];
    window.bchpbuy = (parseFloat(bchprice)*1.02).toFixed(2);
    window.bchpsell = (parseFloat(bchprice)*0.98).toFixed(2);
    // console.log(bchprice);


    bchbuy.innerHTML = bchpbuy;
    bchsell.innerHTML = bchpsell;

    document.getElementById("bchbuyprice").value = ` ${(bchbuyquantity.value * window.bchpbuy).toFixed(2)}`;

    document.getElementById("bchsellprice").value = ` ${(bchsellquantity.value * window.bchpsell).toFixed(2)}`;
  });
  }

  </script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
  xrpprice();
});
//        window.onload = function() {
//   setInterval(xrpprice, 10000);
// };


const xrpbuy =  document.getElementById("xrpbuy");
const xrpsell =  document.getElementById("xrpsell");


  function xrpprice(){
  fetch("https://api.kraken.com/0/public/Ticker?pair=XXRPZEUR")
  .then(response => response.json())
  .then((data) => {
    // console.log(data.result.XXBTZEUR.c[0]);
    const xrpprice = data.result.XXRPZEUR.c[0];
    window.xrppbuy = (parseFloat(xrpprice)*1.02).toFixed(2);
    window.xrppsell = (parseFloat(xrpprice)*0.98).toFixed(2);
    // console.log(xrpprice);


    xrpbuy.innerHTML = xrppbuy;
    xrpsell.innerHTML = xrppsell;

    document.getElementById("xrpbuyprice").value = ` ${(xrpbuyquantity.value * window.xrppbuy).toFixed(2)}`;

    document.getElementById("xrpsellprice").value = ` ${(xrpsellquantity.value * window.xrppsell).toFixed(2)}`;
  });
  }

  </script>

    <script>
    buybitcoin.addEventListener('click', storebtcbuy);

  function storebtcbuy(e) {
    var quantity = btcquantity.value;
   localStorage.setItem("btcQuantity",quantity);
   localStorage.setItem("currency", 1);
}

  </script>

       <script>


buyeos.addEventListener('click', storeeosbuy);

  function storeeosbuy(e) {
    var quantity = eosbuyquantity.value;
   localStorage.setItem("btcQuantity",quantity);
   localStorage.setItem("currency", 5);
}
      </script>


 <script>
     buyethereum.addEventListener('click', storeethbuy);

  function storeethbuy(e) {
    var quantity = ethbuyquantity.value;
   localStorage.setItem("btcQuantity",quantity);
   localStorage.setItem("currency", 2);
}
  </script>

  <script>
    buyxrp.addEventListener('click', storexrpbuy);

  function storexrpbuy(e) {
    var quantity = xrpbuyquantity.value;
   localStorage.setItem("btcQuantity",quantity);
   localStorage.setItem("currency", 4);
}
</script>

<script>
  buybch.addEventListener('click', storebchbuy);

  function storebchbuy(e) {
    var quantity = bchbuyquantity.value;
   localStorage.setItem("btcQuantity",quantity);
   localStorage.setItem("currency", 3);
}
</script>
