<!--
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"> -->

<!-- <h2><i class="kmd.svg"></i></h2> -->

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


<h1 text-align="center">Pick Currency</h1>

<!-- Flickity HTML init -->
<div class="carousel"
  data-flickity='{ "wrapAround": true }'>
  <div class="carousel-cell">
    <!-- <h2><i class="fab fa-bitcoin fa-2x"></i></h2> -->
    <%= image_tag "btc.svg", alt: "Bitcoin Icon", width: 70 %>
    <p>Bitcoin</p>

  </div>
  <div class="carousel-cell">
  <!--   <h2><i class="fab fa-ethereum fa-2x"></i></h2> -->
  <%= image_tag "eth.svg", alt: "Ethereum Icon", width: 70 %>
    <p>Ethereum</p>
  </div>
  <div class="carousel-cell">Bitcoin Cash</div>
  <div class="carousel-cell">Ripple</div>
  <div class="carousel-cell">
    <%= image_tag "eos.svg", alt: "Bitcoin Icon", width: 70 %>
    <p>EOS</p>
  </div>

</div>





<br>
<br>
<br>
<% if current_user.try(:admin?) %>

<%= @user = User.all %>
  <% @user.each do |user| %>
  <%= user.email %><br/>
  <%= user.kyc_status %><br/>
  <%= user.selfie %><br/>
<% end %>

<% else %>

<% end %>


<script>var elem = document.querySelector('.main-carousel');
var flkty = new Flickity( elem, {
  // options
  cellAlign: 'left',
  contain: true
});
</script>


<h2>bitcoin price: </h2><h2 id = "buy1"><%= Buy.buy_price %></h2>

<script>
    window.onload = function() {
  setInterval(increment, 10000);
};

var n = 0;
const buy1 = document.getElementById("buy1");

function increment(){
  fetch("https://api.kraken.com/0/public/Ticker?pair=XXBTZEUR")
  .then(response => response.json())
  .then((data) => {
    // console.log(data.result.XXBTZEUR.c[0]);
    const price = data.result.XXBTZEUR.c[0];
    console.log(price);
    buy1.innerHTML = price;
  });

  n++;
  return n;
  console.log("Hello world!");
  console.log(n);
}

  </script>
