<script>

  document.addEventListener('DOMContentLoaded', function() {
    defaultQuantity.value = `${localStorage.getItem("btcQuantity")}`;
    defaultToken.value = `${localStorage.getItem("currency")}`;
},);


</script>

 <div class="container">
  <div class="row" >
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <div class="form-buy">


<%= form_for(@buy) do |f| %>
  <div class="form-group">

    <%= f.label :token %>
    <br>
    <%= f.select(:token, [['Bitcoin', 1], ['Ethereum', 2], ['Bitcoin Cash', 3], ['Ripple', 4], ['EOS', 5] ], {}, id: "defaultToken") %>
    <br>

    <%= f.label :quantity %>
    <%= f.text_field :quantity, id: "defaultQuantity", class: 'form-control' %>

    <%= f.label :wallet, 'Wallet Address' %>
    <%= f.text_field :wallet, class: 'form-control' %>
    <p>Create a wallet</p>




    <!-- <%= f.text_field :token, class: 'form-control' %> -->
  </div>

  <%= f.submit 'Place Order', class: 'btn' %>
<% end %>

 </div>

  </div>
</div>

<h2>bitcoin price: </h2><h2 id = "buy1"><%= Buy.btc_buy_price %></h2>

<script>
    window.onload = function() {
  setInterval(increment, 10000);
};

var n = 0;
const buy1 = document.getElementById("buy1");

function increment(){
  fetch("https://api.kraken.com/0/public/Ticker?pair=XXBTZEUR")
  .then(response => response.json())
  .then((data) => {
    // console.log(data.result.XXBTZEUR.c[0]);
    const price = data.result.XXBTZEUR.c[0];
    console.log(price);
    console.log(price * 1.025)
    buy1.innerHTML = price;
  });

  n++;
  return n;
  console.log("Hello world!");
  console.log(n);
}

  </script>
